/* Fonts */
@font-face {
  font-family: FiraCode;
  src: url("fonts/Fira Code Medium Nerd Font Complete Mono.ttf");
}

/* Utilities */
.accent {
  color: var(--accentColor);
}
.center {
  display: flex;
  justify-content: center;
}
.light::after {
  color: black !important;
}
.dark::after {
  color: white;
}
.hidden {
  display: none !important;
}
.blurred {
  filter: blur(5px);
}
.red {
  color: var(--redColor);
}
.transparent {
  opacity: 0 !important;
}

/* Basic */

body {
  /* CSS VARIABLES */
  /* Color palette */
  --fontColor: #fff;
  --fontHoverColor: #aaa;
  --backgroundColor: #282828;
  --foregroundColor: #3c3836;
  --shadowColor: rgba(0, 0, 0, 0.1);
  --accentColor: #b8bb26;
  --redColor: #fb4934;

  /* Font variables */
  --fontFamily: FiraCode, monospace;
  --fontSize: 15px;

  /* Border radius */
  --borderRadius: 5px;

  /* Transition */
  --transition: 0.2s linear all;

  /* Gif */
  --gifX: 0%;
  --gifY: 0%;
  --gifWidth: 100%;
  --gifHeight: 100%;
  --gifZoom: 1;

  /*-----------------*/

  background-size: cover;
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}
a {
  color: var(--fontColor);
  text-decoration: none;
}
a:hover {
  color: var(--fontHoverColor);
}
a:focus {
  color: var(--accentColor);
  outline: none;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}
i {
  color: var(--fontColor);
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  margin-right: 10px;
}
::-webkit-scrollbar {
  background-color: var(--foregroundColor);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accentColor);
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 0px 0px var(--shadowColor);
  -moz-box-shadow: 0px 8px 0px 0px var(--shadowColor);
  box-shadow: 0px 8px 0px 0px var(--shadowColor);
}
details {
  box-sizing: border-box;
}
details > summary {
  list-style: none;
  cursor: pointer;
  transition: var(--transition);
}
details > div {
  padding-left: 20px;
  width: 100%;
}
details > summary::before {
  content: " ";
  margin-right: 5px;
}
details > summary:hover,
details > summary:focus {
  color: var(--accentColor);
  outline: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.open::before {
  content: " ";
}
/* Wrapper */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}
button {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}

/* Main */
main {
  flex-flow: row;
  justify-content: space-around;
  background-color: var(--foregroundColor);
  display: flex;
  border-radius: 20px;
  -webkit-box-shadow: 8px 8px 0px 0px var(--shadowColor);
  -moz-box-shadow: 8px 8px 0px 0px var(--shadowColor);
  box-shadow: 8px 8px 0px 0px var(--shadowColor);
  padding: 20px;
}

/* Left pane */
.left {
  display: flex;
  justify-content: center;
  margin: 0px;
  align-items: center;
}
.gif {
  overflow: hidden;
  border-radius: 20px;
  box-sizing: border-box;
  border: solid var(--shadowColor) 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--gifWidth);
  height: var(--gifHeight);
}
#gif-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
  left: var(--gifX);
  top: var(--gifY);
  transform: scale(var(--gifZoom));
}
@media screen and (max-width: 1000px) {
  p:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .left {
    display: none;
  }
  .right {
    width: 100%;
    padding-left: 0px !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1600px) {
  main {
    max-width: 90vw;
  }
}
@media screen and (min-width: 1600px) {
  main {
    max-width: 70vw;
  }
}

/* Right pane */
.right {
  padding-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Info bar */
.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.info p {
  margin: 0 10px;
}
/* Search bar */
.search-bar {
  display: flex;
}
.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  color: var(--fontColor);
  border-bottom: solid var(--fontColor) 1px;
  transition: var(--transition);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}
.search-bar input:focus {
  outline: none;
  border-color: var(--accentColor);
}
/* Links */
.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.link-group {
  margin: 0 10px;
}
.link-group p {
  color: var(--accentColor);
}
#matches {
  margin-top: 5px;
  min-height: 23px;
  max-height: fit-content;
  color: var(--accentColor);
  transition: var(--transition);
}
.sublink {
  display: block;
}
.sublink::before {
  content: "﬌ ";
}
