/* Utilities */
.accent{
    color: var(--accentColor);
}
.center{
    display:flex;
    justify-content: center;
}
.light::after{
    color: black !important;
}
.dark::after{
    color:white;
}

/* Basic */

body{

    /* CSS VARIABLES */
    /* Color palette */
    --fontColor: #fff;
    --fontHoverColor: #aaa;
    --backgroundColor: #282828;
    --foregroundColor: #3c3836;
    --shadowColor: rgba(0,0,0,0.1);
    --accentColor: #b8bb26; 

     /* Font variables */
    --fontFamily:'Iosevka';
    --fontSize:14px;

    /* Border radius */
    --borderRadius: 5px;

    /*-----------------*/

    background-size:cover;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: var(--fontFamily);
    font-size:16px;
}
a{
    color: var(--fontColor);
    text-decoration: none;
}
a:hover{
    color: var(--fontHoverColor)
}
a:focus{
    color: var(--accentColor);
    outline: none;
}
ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}
i{
    color: var(--fontColor);
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    margin-right: 10px;
}
/* Wrapper */
.wrapper{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main */
main{
    max-height: 300px;
    background-color: var(--foregroundColor);
    display: flex;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 0px 0px var(--shadowColor);
    -moz-box-shadow: 8px 8px 0px 0px var(--shadowColor);
    box-shadow: 8px 8px 0px 0px var(--shadowColor);
    padding: 20px;
    min-width:50vw;
    max-width: 90vw;
}

/* Left pane */
.left{
    display: flex;
    justify-content: center;
    margin: 0px;
    /* max-width: 50%; */
}
.gif{
    overflow: hidden;
    border-radius: 20px;
    border: solid var(--shadowColor) 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gif img{
    width: 100%;
    /* position: relative;
    bottom: 60px; */
}
@media screen and (max-width : 900px) {
    .left{
        display: none;
    }
    main{
        width: 90vw !important;
    }
    .right{
        width: 100%;
        padding-left: 0px !important;
    }
}

/* Right pane */
.right{
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Info bar */
.info{
    display: flex;
    justify-content: space-between;
}
/* Search bar */
.search-bar{
    display: flex;
}
.search-bar input{
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    color: var(--fontColor);
    border-bottom: solid var(--fontColor) 1px;
    transition: all .2s linear;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
}
.search-bar input:focus{
    outline: none;
    border-color: var(--accentColor);
}
/* Links */
.links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.link-group p{
    color: var(--accentColor);
}
#matches{
    position:fixed;
    margin-top: 40px;
    margin-left: 24px;
    color: var(--accentColor);
    padding: 10px;
}

/* Styling for config page */

/* FORM */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* URL input */
input[type="text"]{
    background: none;
    border: none;
    padding: 10px;
    border-bottom: var(--fontColor) 1px solid;
    color: var(--fontColor);
    transition: all linear .2s;
}
input[type="text"]:focus{
    border-color: var(--accentColor);
    outline:none;
}
/* API BUTTON */
#settings-button{
    background: none;
    border: none;
    padding: 10px;
    color: var(--accentColor);
    transition: all linear .2s;
    margin-top: 20px;
    border: 1px solid var(--accentColor);
    border-radius: var(--borderRadius);
    width: 200px;
}
#settings-button:hover{
    background: var(--accentColor);
    color: var(--fontColor);
    outline:none;
}
/* API RESET */
#settings-reset{
    background: none;
    border: none;
    padding: 10px;
    color: #DD5353;
    transition: all linear .2s;
    margin-top: 20px;
    border: 1px solid  #DD5353;
    border-radius: var(--borderRadius);
    width: 200px;
}
#settings-reset:hover{
    background:  #DD5353;
    color: var(--fontColor);
    outline:none;
}
/* API COLOR */
input[type="color"] {
	background: none;
    border: none;
    padding: 0px;
    color: var(--accentColor);
    transition: all linear .2s;
    margin-top: 20px;
    border: 1px solid var(--accentColor);
    border-radius: var(--borderRadius);
    width: 200px
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px;
    
}
input[type="color"]::after{
    position: relative;
    color: var(--fontColor);
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    display: block;
    width:100%;
    text-align: center;
    bottom:22px;
}
#accentColor:after{
    content: 'Accent';
}
#foregroundColor::after{
    content: 'Foreground';
}
#backgroundColor::after{
    content: 'Background';
}
#fontColor::after{
    content: 'Font color';
}
#fontHoverColor::after{
    content: 'Hovered font color';
}